[{:block/name "1.58 dimensional chess",
  :block/created-at 1654426862818,
  :block/updated-at 1654426862818}
 {:block/name "29-05-2022",
  :block/created-at 1654426862847,
  :block/updated-at 1654426862847}
 {:block/name "69630 and 69624",
  :block/created-at 1654426863215,
  :block/updated-at 1654426863215}
 {:block/name "``cgn",
  :block/created-at 1654426863888,
  :block/updated-at 1654426863888}
 {:block/name "a",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "a static site generator for google docs",
  :block/created-at 1654426863788,
  :block/updated-at 1654426863788}
 {:block/name
  "a summary of my experience when resetting a t2 chip macbook",
  :block/created-at 1654426863214,
  :block/updated-at 1654426863214}
 {:block/name "and do what you love!",
  :block/created-at 1654426862955,
  :block/updated-at 1654426862955}
 {:block/name
  "and doing stuff for the thrill of it is by far one of the most rewarding and valuable traits in the modern day. get up",
  :block/created-at 1654426862954,
  :block/updated-at 1654426862954}
 {:block/name
  "and how it achieved a perfect lighthouse score. i rundown all the fudamental issues and how to solve them",
  :block/created-at 1654426863070,
  :block/updated-at 1654426863070}
 {:block/name "and how to resolve the errors - 69832",
  :block/created-at 1654426863214,
  :block/updated-at 1654426863214}
 {:block/name "ascii drawing gui",
  :block/created-at 1654426863761,
  :block/updated-at 1654426863761}
 {:block/name "assignment 2",
  :block/created-at 1654426864959,
  :block/updated-at 1654426864959}
 {:block/name "aswell as how to optimise your page for google.",
  :block/created-at 1654426863071,
  :block/updated-at 1654426863071}
 {:block/name "b",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "being an inately curious amateur",
  :block/created-at 1654426862953,
  :block/updated-at 1654426862953}
 {:block/name "boot sector and registers",
  :block/created-at 1654426863494,
  :block/updated-at 1654426863494}
 {:block/name "c",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "c++ cout vs printf",
  :block/created-at 1654426865032,
  :block/updated-at 1654426865032}
 {:block/name "card",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "collatz conjecture",
  :block/created-at 1654426863558,
  :block/updated-at 1654426863558}
 {:block/name "consumption in the modern day",
  :block/created-at 1654426863911,
  :block/updated-at 1654426863911}
 {:block/name "contents",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "cout-vs-printf",
  :block/created-at 1654426863557,
  :block/updated-at 1654426863557}
 {:block/name "does design matter?",
  :block/created-at 1654426863619,
  :block/updated-at 1654426863619}
 {:block/name "doing",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "done",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "favorites",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "first principles computer science course",
  :block/created-at 1654426863696,
  :block/updated-at 1654426863696}
 {:block/name
  "here's how i did it and the steps that i would recommend to take if you want to do the same!",
  :block/created-at 1654426863356,
  :block/updated-at 1654426863356}
 {:block/name "how i built my site (with perfect lighthouse score)",
  :block/created-at 1654426863066,
  :block/updated-at 1654426863066}
 {:block/name "how to fix a bricked kindle via usb",
  :block/created-at 1654426863644,
  :block/updated-at 1654426863644}
 {:block/name "i learned machine learning in a weekend",
  :block/created-at 1654426863355,
  :block/updated-at 1654426863355}
 {:block/name "in-progress",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "jun 5th, 2022",
  :block/created-at 1654426865242,
  :block/updated-at 1654426865242}
 {:block/name "just start",
  :block/created-at 1654426863131,
  :block/updated-at 1654426863131}
 {:block/name "later",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "logic 1 exam 2022",
  :block/created-at 1654426864153,
  :block/updated-at 1654426864153}
 {:block/name "logical operations",
  :block/created-at 1654426864918,
  :block/updated-at 1654426864918}
 {:block/name "macbook t2 chip error fix (69832, 69630, and 69624)",
  :block/created-at 1654426863212,
  :block/updated-at 1654426863212}
 {:block/name "make vim better",
  :block/created-at 1654426863886,
  :block/updated-at 1654426863886}
 {:block/name "may 2022",
  :block/created-at 1654426862884,
  :block/updated-at 1654426862884}
 {:block/name "mortality, grief, and everything in between",
  :block/created-at 1654426863295,
  :block/updated-at 1654426863295}
 {:block/name
  "multiplications and 2 additions are faster than 2 additions",
  :block/created-at 1654426863948,
  :block/updated-at 1654426863948}
 {:block/name "now",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "obligation kills curiosity",
  :block/created-at 1654426863975,
  :block/updated-at 1654426863975}
 {:block/name "pint glass metrics",
  :block/created-at 1654426864007,
  :block/updated-at 1654426864007}
 {:block/name "reverse engineering biology",
  :block/created-at 1654426865063,
  :block/updated-at 1654426865063}
 {:block/name "reversing neural networks",
  :block/created-at 1654426864040,
  :block/updated-at 1654426864040}
 {:block/name "shitty mnist classifier",
  :block/created-at 1654426864068,
  :block/updated-at 1654426864068}
 {:block/name "the elements of eloquence",
  :block/created-at 1654426863383,
  :block/updated-at 1654426863383}
 {:block/name "the hardest gcse maths question",
  :block/created-at 1654426863739,
  :block/updated-at 1654426863739}
 {:block/name "the most valuable trait in 2021",
  :block/created-at 1654426862950,
  :block/updated-at 1654426862950}
 {:block/name "the subtle art of not giving a fuck",
  :block/created-at 1654426863409,
  :block/updated-at 1654426863409}
 {:block/name
  "this is how i built my portfolio site and personal blog using react and nextjs",
  :block/created-at 1654426863068,
  :block/updated-at 1654426863068}
 {:block/name "todo",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "understanding convolutional neural networks",
  :block/created-at 1654426863594,
  :block/updated-at 1654426863594}
 {:block/name "usefule unix commands",
  :block/created-at 1654426864999,
  :block/updated-at 1654426864999}
 {:block/name "virtual bookshelf",
  :block/created-at 1654426863822,
  :block/updated-at 1654426863822}
 {:block/name "wait",
  :block/created-at 1654426964237,
  :block/updated-at 1654426964237}
 {:block/name "waiting",
  :block/created-at 1654426964236,
  :block/updated-at 1654426964236}
 {:block/name "why inflation is a good thing",
  :block/created-at 1654426863844,
  :block/updated-at 1654426863844}
 {:block/name "writing chess engines",
  :block/created-at 1654426863528,
  :block/updated-at 1654426863528}
 {:block/name "wtf is the uk housing market",
  :block/created-at 1654426864089,
  :block/updated-at 1654426864089}
 {:block/name "zero to one",
  :block/created-at 1654426863459, 
  :block/updated-at 1654426863459}]
